spring:
  datasource:
    url: ${DATABASE_URL:${DB_URL}}
    username: ${PGUSER:${DB_USERNAME}}
    password: ${PGPASSWORD:${DB_PASSWORD}}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    baseline-on-migrate: true
    enabled: true
    locations: classpath:db.migration

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    protocol: smtp
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        debug: true
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp-relay.brevo.com
          auth.mechanisms: LOGIN PLAIN

  oauth2:
    client:
      registration:
        google:
          client-id: ${GOOGLE_CLIENT_ID:}
          client-secret: ${GOOGLE_CLIENT_SECRET:}
          redirect-uri: ${GOOGLE_REDIRECT_URI:http://localhost:8088/login/oauth2/code/google}
          scope:
            - email
            - profile

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000



server:
  port: ${PORT:8088}

app:
  mail:
    from: ${MAIL_FROM}

logging:
  level:
    org.springframework.mail: DEBUG
    jakarta.mail: DEBUG
