spring:
  application:
    name: dse-backend
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  security:
    user:
      name: ${SECURITY_USER_NAME:newuser}
      password: ${SECURITY_USER_PASSWORD:newuser123}
      roles: ${SECURITY_USER_ROLES:ROLE_UNASSIGNED}

server:
  port: 8088
---
spring:
  config:
    activate:
      on-profile: prod
server:
  port: 8088
